.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
HISTORY.txt
README.txt
*.shp
*.dbf
*.zip
*.prj
*.qpj
*.shx
*.rar
*.doc
*.docx
*.pdf
*.jpg
*.xml
*.xsd
*.xls
*.xlsx
*.iml
*.cpg
*.sbx
*.ovr
*.tif
*.twf
*.sbn
*.tfw
*.lock
*.pmf
*.mxd
*.tbx
*.db
*.txt
*.mdb
*.qgs
*.qgs~
*.log
*L.xml
**.shp
*.lyr
*.ldb
*.iml
